html {
  background: url(img/dark-background.jpg) no-repeat center fixed;
  background-size: cover;
}

body {
  background-color: rgb(217, 217, 255);
  border: solid;
  width: 700px;
  margin: 50px auto;
  padding: 50px;
  font-family: "Times New Roman", Times, serif;
}

a {
  color: rgb(116, 8, 216);
}

.center {
  text-align: center;
}

a:hover {
  font-weight: bold;
  color: #615e8f;
}

.title {
  color: #2c2a4a;
}

.purple {
  color: #a06cd5;
}

.porple {
  color: #6247aa;
}

.blue {
  color: #102b3f;
}
